{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier un client</h1>
        {{ include ('admin/_form.html.twig', {form: form, button: 'Éditer'}) }}
    </div>

{% endblock %}