<div class="d-flex">
    <header>
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion placement" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('home') }}">
                <div class="sidebar-brand-icon">
                    <img src="{{ asset('assets/img/logo.png') }}" />
                </div>
                <div class="sidebar-brand-text mx-3">Uniweb</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Gestion clients
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ path('client.index') }}">
                    <i class="fas fa-users"></i>
                    <span>Sites / Clients</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-trophy"></i>
                    <span>Seo</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="fab fa-google"></i>
                    <span>Sea</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-tools"></i>
                    <span>Tma</span>
                </a>
            </li>
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Ressources
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Ftp / Bdd</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://uniweb.quickconnect.to/https_first/">
                    <i class="fas fa-sort-numeric-up-alt"></i>
                    <span>Wanaten</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="https://trello.com/uniweb14">
                    <i class="fab fa-trello"></i>
                    <span>Trello</span></a>
            </li>

        </ul>
    </header>



